body {
    margin: 0px;
    padding: 0%;
    background-color: #C2C2C2;
}
.cabecalho {
    margin:0px;
    width: 100%;
    height: 160px;
    background-color: #645555;
    padding: 0px;
    text-align: center;
    border: 5px, solid, #000 ;
}
.navbar {
    background-color: #68461F;
    margin: 0px;
    width: 228px;
    height: 786px;
    text-align: center;
    float: left;
}
.main {
    margin: 0px;
    width: 1212px;
    height: 786px;
    background-color: #C2C2C2;
    padding: 0px;
    text-align: center;
}
.rodape {
    width: 100%;
    height: 70px;
    position:fixed;
    color:#fff;
    background-color: #000;
    margin: 0;
    text-align: center;
}