body {
    background-color: aliceblue;
    flex-direction: column;
    display: flex;
    align-items: center;
}
main {
    background-color: rgba(108, 128, 118, 0.849);
    display: flex;
    margin-top: 35px;
    width: 25vw;
    height: 70vh;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #000000cc;
    flex-direction: column;
    align-items: center;
    
    
}
label {
    margin-bottom: 3px;
}

.inputs-label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    height: 10%;
    flex-direction: column;
    margin: 8px;
    display: flex;
    
    
}
#send {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.696);
    margin-top: 10px;
    width: 167px;

}
#send:active{
    background-color: rgba(128, 128, 128, 0.4);
}