/* Tags */
body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #F5F5F5, rgba#efeeeec9);
    max-height: 100vh;
}
main {
    width: 100vw;
    display: flex;
    height: 80vh;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
}
header {
    margin: 0px;
    width: 100vw;
    height: 25vh;
    padding: 0px;
    background-color: slategrey;
    border-bottom: #fff solid 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-bottom:#000 solid 2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
}
a {
    color: inherit;
}
img {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    text-align: center;
    background-color: #ffffff92;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 300ms linear;
}
img:hover {
    transform: scale(1.1);
    transition: 300ms linear;
}
h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    transition: 300ms linear;
}
h1:hover {
    transform: scale(1.05);
    transition: 300ms linear;
}
h3:hover {
    cursor: pointer;
    opacity: 0.8;
}
footer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    background-color: black;
}
/* IDs */
#github {
    height: 50px;
    width: 50px;
    margin: 15px;
    background-color: #000;
    padding: 0px;
}
#linkedin {
    background-color: #fff;
    height: 40px;
    width: 40px;
}
#aboutMe {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 45%;
    height: 70%;
    max-height: 70%;
    max-width: 70%;
    opacity: 0.8;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.76) 5px 8px 0px;
    transition: 300ms linear;
}
#aboutMe p {
    padding: 20px;
    margin: 0 auto;
}
#aboutMe:hover {
    box-shadow: rgba(0, 0, 0, 0.76) 9px 14px 0px;
    transition: 300ms linear;
}
#aboutMe img {
    display: inline;
}