/* tags */
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #F5F5F5, rgba#efeeeec9);
}
header {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 128, 144);
    border-bottom:#000 solid 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 0px 0px 30px 0px;
    padding: 10px;
    height: 140px; 
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: "Poppins", sans-serif;
}
img {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    margin: 0px 7px;
    position: relative;
}
main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 30%;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;;
    border-radius: 20px;
    transition: 300ms linear;
}
main h1:hover {
    transform: scale(1.05);
    transition: 300ms linear;
}
a {
    text-decoration: none;
    align-items: center;
    color: #000;
    font-family: 'Roboto', sans-serif;;
}

footer {
    margin-top: 15px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    background-color: black;
}
p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/* Classes */
.projects {
    
    background-color: #F5F5F5;
    padding: 15px;
}

/* IDs */
#github {
    margin-top: 5px;
    height: 40px;
    width: 40px;
    
}
#github:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}
#home {
    left: 20px;
    width: 30px;
    height: 30px;
    padding: 7px;
}
#home:hover {
    transition: 100ms linear;
    opacity: 0.3;
}