body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #F5F5F5, rgba#efeeeec9);
}
header {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 128, 144);
    border-bottom:#000 solid 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 0px 0px 30px 0px;
    padding: 10px;
    height: 140px; 
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: "Poppins", sans-serif;
}
h2, h3 {
    display: block;
    margin: 20px auto 10px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 25vw;
    padding: 10px 0px;
}
p, h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    margin: 0px 0px;
    position: relative;
}
main img {
    display: block;
    border-radius: 20px;
    margin: 0 auto;
}
footer {
    margin-top: 15px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    background-color: black;
}
.projects {
    background-color: #aaaeb0dc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    width: 60vw;
    margin: 0px 10px 10px 10px;
    position: relative;
    left: 17%;
    padding: 25px;
    border-bottom: #000 solid 1px;
}
.projects p {
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 60%;
    position: relative;
    left: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: whitesmoke;
    border-bottom: #000 solid 1px;
}
#imgAmostra_E {
    width: 450px;
    height: 390px;
}
#imgMediana {
    width: 600px;
    height: 370px;
}
#imgMedidaDisp {
    width: 420px;
    height: 220px;
}
#imgQuiQuadrado{
    width: 620px;
    height: 420px;
}
#colab {
    margin-top: 5px;
    height: 40px;
    width: 60px;
}
#colab:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}
#home {
    top: 25px;
    position: sticky;
    left: 20px;
    width: 30px;
    height: 30px;
    padding: 7px;
}
#home:hover {
    transition: 100ms linear;
    opacity: 0.3;
}