/* Tags */
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #F5F5F5, rgba#efeeeec9);
}
header {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 128, 144);
    border-bottom:#000 solid 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 0px 0px 30px 0px;
    padding: 10px;
    height: 140px; 
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: "Poppins", sans-serif;
}
h2, h3 {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 25vw;
    padding: 10px 0px;
    position: relative;
    left: 37%;
}
h2, h3, p {
    text-align: center;
    margin: 20px 0px 10px 10px;
    font-family: 'Roboto', sans-serif;
}
img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    margin: 0px 0px;
    position: relative;
}
main img {
    display: block;
    margin: 0px auto;
    max-width: 100%;
}
footer {
    margin-top: 15px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    background-color: black;
}
/* Classes */
.projects {
    background-color: #aaaeb0dc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    width: 60vw;
    margin: 0px 10px 10px 10px;
    position: relative;
    left: 17%;
    padding: 25px;
    border-bottom: #000 solid 1px;
}
.projects p {
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 60%;
    position: relative;
    left: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: whitesmoke;
    border-bottom: #000 solid 1px;
}
.projects img {
    left:10px;
}
/* IDs */
#github {
    margin-top: 5px;
    height: 40px;
    width: 40px;
}
#github:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}
#home {
    top: 25px;
    position: sticky;
    left: 20px;
    width: 30px;
    height: 30px;
    padding: 7px;
}
#home:hover {
    transition: 100ms linear;
    opacity: 0.3;
}
#imgIf {
    height: 190px;
    width: 300px;
}
#imgSwitch {
    height: 190px;
    width: 300px;
    margin-bottom: 7px;
}
#imgOp {
    height: 250px;
    width: 450px;
    margin-bottom: 7px;
}
#imgFor {
    width: 350px;
    height: 100px;
    
}
#imgWhile {
    width: 350px;
    height: 200px;
}
#imgVetor {
    width: 320px;
    height: 230px;
}
#imgFunc {
    width: 330px;
    height: 140px;
}
#imgPOO {
    width: 400px;
    height: 340px;
}
#imgScreensaver {
    width: 300px;
    height: 240px;
}